<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABShhRJ7SI9UV5qeH47qgLkr0XG5zkDBU</string>
	<key>GCM_SENDER_ID</key>
	<string>202642143819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vlvcenter.app</string>
	<key>PROJECT_ID</key>
	<string>vlv-center-19319</string>
	<key>STORAGE_BUCKET</key>
	<string>vlv-center-19319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202642143819:ios:216200481bf19b7044ebce</string>
</dict>
</plist>